body {
    background-image: linear-gradient(to right top, #344e75, #173f5b, #0a394b, #323d48, #065a60);
    min-height: 100vh;
}

nav {
    color: white;
    background-color: linear-gradient(to right top, #344e75, #173f5b, #0a394b, #323d48, #065a60);
    /*background-color: #030303;*/
}